body {
  margin: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media only screen and (max-width: 1026px) {
  #game {
      display: none;
  }
}

@media only screen and (max-width: 6px) {
  #tkGame {
      display: none;
  }
}